body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

p {
    margin-top: 4vw;
    text-align: center;
    font-size: 2vw;
    color: #000;
}

.page {
    width: 22vw; /* Smaller size */
    height: 32vw; /* Smaller size */
    background-color: #ebd5b3;
    float: left;
    margin-bottom: 0.5em;
    background-size: cover;
    background-image: url('../assets/images/parchment-texture.jpg');
}
.page:nth-child(even) {
    clear: both;
}
.book {
    perspective: 180vw; /* Adjusted perspective */
}
.book .pages {
    width: 44vw; /* Smaller size */
    height: 32vw; /* Smaller size */
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 4px;
}
.book .page {
    float: none;
    clear: none;
    margin: 0;
    position: absolute;
    top: 0;
    width: 22vw; /* Smaller size */
    height: 32vw; /* Smaller size */
    transform-origin: 0 0;
    transition: transform 1.4s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    cursor: pointer;
    user-select: none;
    font-family: 'Uncial Antiqua', serif;
    font-size: 1em; /* Adjusted font size */
    color: #000;
    padding: 1em;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.book-container {
    position: relative;
}
.book .page:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.7s;
    z-index: -2;
}
.book .page:nth-child(odd) {
    pointer-events: all;
    transform: rotateY(0deg);
    right: 0;
    border-radius: 0 4px 4px 0;
}
.book .page:nth-child(odd):hover {
    transform: rotateY(-15deg);
}
.book .page:nth-child(odd):hover:before {
    background: rgba(0, 0, 0, 0.03);
}
.book .page:nth-child(odd):before {
    background: rgba(0, 0, 0, 0);
}
.book .page:nth-child(even) {
    pointer-events: none;
    transform: rotateY(180deg);
    transform-origin: 100% 0;
    left: 0;
    border-radius: 4px 0 0 4px;
    border-color: black;
}
.book .page:nth-child(even):before {
    background: rgba(0, 0, 0, 0.2);
}
.book .page.grabbing {
    transition: none;
}
.book .page.flipped:nth-child(odd) {
    pointer-events: none;
    transform: rotateY(-180deg);
}
.book .page.flipped:nth-child(odd):before {
    background: rgba(0, 0, 0, 0.2);
}
.book .page.flipped:nth-child(even) {
    pointer-events: all;
    transform: rotateY(0deg);
}
.book .page.flipped:nth-child(even):hover {
    transform: rotateY(15deg);
}
.book .page.flipped:nth-child(even):hover:before {
    background: rgba(0, 0, 0, 0.03);
}
.book .page.flipped:nth-child(even):before {
    background: rgba(0, 0, 0, 0);
}

/* Cover Styles */
.cover {
    width: 22vw; /* Smaller size */
    height: 32vw; /* Smaller size */
    background-color: #2E8B57; /* Changed to a darker green */
    color: #fff; /* White text for better contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Uncial Antiqua', serif;
    font-size: 1.5em; /* Adjusted font size */
    text-shadow: 2px 2px #000;
    border: 2px solid #A3865B;
    box-shadow: 0 4px 10px rgba(0,0,0,0.8), inset 0 2px 4px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transform: perspective(600px) rotateY(0deg);
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.cover:hover {
    transform: perspective(600px) rotateY(10deg);
}
.front-cover {
    z-index: 1000;
    background-image: linear-gradient(135deg, #2E8B57 0%, #2E8B57 100%);
    box-shadow: 0 4px 10px rgba(0,0,0,0.8), inset 0 2px 4px rgba(255, 255, 255, 0.2);
}
.back-cover {
    z-index: 0;
    background-image: linear-gradient(135deg, #2E8B57 0%, #2E8B57 100%);
    box-shadow: 0 4px 10px rgba(0,0,0,0.8), inset 0 2px 4px rgba(255, 255, 255, 0.2);
}

*,
* :before,
*:after {
    box-sizing: border-box;
}
html,
body {
    font-family: 'Lovers Quarrel', cursive;
    background: #333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2em 0;
    line-height: 1.5em;
}
.header {
    width: 80%; /* Adjusted width */
    background: #2E8B57; /* Changed to a darker green */
    padding: 10px; /* Adjusted padding */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #fff; /* White text for better contrast */
    text-align: center;
    margin-bottom: 20px;
    z-index: 2;
}

.tutorial {
    position: absolute;
    top: 10px;
    right: 10px;
}

.info-button {
    font-size: 2em; /* FontAwesome icon size */
    color: #fff;
    cursor: pointer;
}

/* New styles for upload button */
.upload-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    padding: 10px 20px; /* Adjusted padding */
    font-family: 'Uncial Antiqua', serif;
    font-size: 1em; /* Adjusted font size */
    color: #fff;
    background-color: #2E8B57; /* Changed to a darker green */
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
    z-index: 1; /* Ensure button is above the canvas */
}

.upload-button:hover {
    background-color: #0aec13;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* New styles for tutorial and quill cursor */
body {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=43415'), auto;
}
.page:nth-child(odd){
    background-position: right top;
}
.spell-title {
    font-family: 'Uncial Antiqua', serif;
    font-size: 1.2em; /* Adjusted font size */
    color: #2E8B57;
    margin-bottom: 0.5em;
    text-align: center;
}
.spell-description {
    font-family: 'Uncial Antiqua', serif;
    font-size: 1em; /* Adjusted font size */
    color: #000;
    margin-bottom: 0.5em;
    text-indent: 1em;
}
.spell-divider {
    border: 0;
    height: 1px;
    background: #8B4513;
    margin: 1em 0;
}

/* New styles for canvas */
#drawCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensure canvas is behind all other elements */
}

/* Navbar Styles */
.navbar {
    background-color: #2E8B57; /* Changed to a darker green */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-menu li {
    height: 60px;
}

.navbar-menu li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar-menu li a:hover {
    border-bottom: 3px solid #FFD700;
}

.navbar-toggle {
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
}

.navbar-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.spell-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 20px;
}

.spell-card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    font-family: 'Uncial Antiqua', serif;
    color: #4B2E39;
}

.spell-card h3 {
    margin-top: 0;
    font-size: 1.5em;
    text-align: center;
}

.spell-card p {
    margin: 0.5em 0;
    font-size: 1em;
}

.spell-card strong {
    color: #2E8B57;
}

/* Mobile Styles */
@media screen and (max-width: 960px) {
    .navbar-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        background-color: #2E8B57; /* Changed to a darker green */
    }

    .navbar-menu.active {
        background: #2E8B57; /* Changed to a darker green */
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .navbar-toggle {
        display: block;
    }
}
