.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--current-modal-overlay-color);
}

.modal-content {
    background-color: var(--current-card-background);
    margin: 10% auto;
    padding: 2rem;
    border: 1px solid var(--current-card-border);
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    position: relative;
    color: var(--current-text-color);
}

.modal-content h2 {
    color: var(--current-text-color);
    margin-bottom: 1rem;
}

.modal-content p {
    color: var(--current-text-color);
    margin-bottom: 1rem;
}

.close {
    color: var(--current-text-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--current-primary-color);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.modal-body {
    margin-top: 20px;
}

